.productCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 8px;
  padding: 1rem;
  color: #423b0b;
  background-color: #659157;
}

.productImage {
  object-fit: contain;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  transition: transform .2s;
}

.productImage:hover {
  transform: scale(2.5);
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.productTitle {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  font-size: small;
}


