.cartCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 8px;
  padding: 1rem;
  color: #423b0b;
  background-color: #659157;
}

.cartItemImage {
  height: 6rem;
  object-fit: contain;
  transition: transform .2s;
}

.cartItemImage:hover {
  transform: scale(2.5);
}

.cartItemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}

.removeBtn {
  max-width: fit-content;
}
