.myCart {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.priceBox {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 0.25rem;
}

.priceLabels {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.priceNumbers {
  display: flex;
  flex-direction: column;
  align-items: start;
}